* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --main-color: #F6F6F6;
    --main-color-alt: #2E5DD0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --back-color:#FCFCFC;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    
    font-family: "Cairo", sans-serif;
 
  }
  a {
    text-decoration: none !important;
    cursor: pointer;
  }
  li, button{
    cursor: pointer;
  }
  li{
    list-style-type: none;
  }
 
.criteria{
    display: flex;
    height: 1028px;
    position: relative;
  }

.criteria .nav{
  height: 100%;
  width: 152px;
  padding: 128px 12px 128px 56px;

  background-color: var(--main-color);
}
.criteria .nav_title{
  border-left: 2px solid #587DD9;
  padding-left: 10px;
  height: fit-content;
}
.criteria .nav_circle{
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color:#D9D9D9 ;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.criteria .nav p{
  font-size: 14px;
}
.notifcation_cotnet{
  display: flex;
  align-items: center;
}
.notifcation_cotnet i{
  width: 24px;
  height: 24px;
}
.notifcation_cotnet img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.main_criteria{
  width: 100%;
  height: 100%;
}
.header{
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #D9D9D9;
  padding:24px 48px 18px 48px  ;
  background-color: var(--back-color);
}
.header .header_content{
  display: flex;
  justify-content: space-between;
}
.header_list{
  display: flex;
}
.header_list li{
  list-style-type: none;
  margin-left: 12px;
}
.header_list li:nth-child(1){
  color: #8D8A91;
}
.header_list li:nth-child(2){
  color: var(--main-color-alt);
}
.main{
  width: 75%;
  height: 100%;
}
.main_new{
  width: 79%;
  height: 100%;
}
.main_content{
  display: flex;
  padding: -1px 0px 18px 48px;
  height: 938px;
}
.main_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_search{
  display: flex;
  padding-top: 10px;
  align-items: center;
}
.main_search input{
  width: 504px;
  margin-left: 10px;
  outline: none;
  border-radius: 4px;
  background-color: #F6F6F6;
  padding: 12px 16px 12px 16px;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.arrows_buttons i{
  border: 1px solid #BAB8BD;
  padding: 7px;
  color: #BAB8BD  ;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.main_actions{
  width: 30%;
  height: 938px;
  background-color: #F6F6F6;
  padding:2px 56px 128px 24px;
  margin-left: 20px;
}
.new_actions{
  width: 23%;
  height: 938px;
  background-color: #F6F6F6;
  padding:2px 12px 128px 24px;
  margin-left: 20px;
}
.new_actions ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px , 1fr)) !important;
  text-align: center;
  column-gap: 20px !important;
}
.rules_list{
  position: relative;
}

.rules_list::after{
  position: absolute;
  content: "";
  border: 1px dotted #A4A1A7;
  width: 100%;
  bottom: -30%;
}
.criteria-container {
  padding: 10px;
}

.condition {
  margin-bottom: 10px;
}
.criteria-container h3{
  font-weight: 400;
  font-size: 16px;
}

.condition-title span:nth-child(2){
  color: blue;
  font-weight: 600;

}

.criteria-list {
  list-style: none;
  padding-left: 0;
}

.criteria-list li {
  margin-bottom: 5px;
  padding: 5px;
  list-style-type: none;
  font-size: 15px;
}
.or{
  color: #34C759;
  font-size: 16px;
  font-weight: 600;
}
.not{
  color: #FF3B30;
  font-size: 16px;
  font-weight: 600;
}

.in_list,.comparer,.group,.builder, .equa{
  font-weight: 400;
  font-size: 12px;
  padding: 4px 6px 4px 6px;
}
.in_list{
  color: #9C2DD3;
  transition: 1s;
  background-color: #F6EDFB;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.comparer{
  color: #FF9500 !important;
  background-color: #FEF3E5 !important;
}
.group{
  color: #34C759;
  background-color: #EAF9ED;
}
.builder{
  color: #00C7BE ;
  background-color: #E5F9F8 ;
}
.equa{
  color: #1886FE;
  background-color: #E7F2FE;
}
.bi-caret-down{
  color: #76737C;
  width: 12px !important;
  height: 8px !important;
}
.main_actions h3, .new_actions h3{
  color: #605C66;
  font-weight: 600;
  font-size: 18px;
}

.actions_list ul{
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  text-align: center;
  gap: 20px;
}

.actions_list ul li{
  list-style-type: none;
  background-color: #E7E7E8;
  color: #605C66;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px 18px 8px 16px;
  -webkit-border-radius: 8px;
  font-size: 14px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  width: 85px;
  -o-border-radius: 8px;
}

.action_box_one{
  background-color: #FCFCFC;
  padding: 16px 24px 16px 24px;
}
.action_box_one h4{
  color: #605C66;
  font-size: 16px;
  font-weight: 600;
}
.action_box_one p{
  width: 284px;
  font-size: 14px;
  color:#8D8A91 ;
}
.actions_oper{
  display: flex;
  padding: 0 !important;
  column-gap: 10px;
  
}
.actions_oper li {
  list-style-type: none;
  padding: 4px 6px 4px 6px;
  width: 60px;
  border-radius: 2px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-align: center;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.actions_oper li:nth-child(1){
  background-color: #EDEDFA;
  color: #5856D6;
}
.actions_oper li:nth-child(2){
  background-color: #E5F9F8;
  color: #00C7BE;
}
.actions_oper li:nth-child(3){
  background-color: #FEEBE9;
  color: #FF3B30;
}
.action_box_one{
  margin-bottom: 10px;
}
.actions_oper_two{
  padding: 0;
  column-gap: 10px;
  display: flex;
}
.actions_oper_two li{
  list-style-type: none;
}
.action_box_one:last-child ul li{
  font-size: 12px;
  background-color: #E7F2FE;
  padding: 6px;
  font-weight: 400;
  border-radius: 2px;
  color: #1886FE;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}
.main_bottom{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  top: 46%;
}
.main_bottom_buttons button{
  border: none;
  padding: 8px 16px 8px 16px;
  margin-left: 20px;

}
.main_bottom_buttons button i{
  margin-right: 5px;
}
.close{
  background-color: #EFCECC;
  color: #FF3B30;
}
.reload{ 
  color: #605C66; 
  background-color: transparent; 
  border: 1px solid #605C66; border-radius:8px ;
   -webkit-border-radius:8px ; 
   -moz-border-radius:8px ; 
   -ms-border-radius:8px ; 
   -o-border-radius:8px ;
}
.create{
  background-color: #D4DEF5;
  color: #2E5DD0;
}
.save{
  color: #E9EEF9;
  background-color: #2E5DD0;
}
.operation_list{
  display: flex;
  align-items: center;
}
.operation_list ul li:first-child{
  color: #2E5DD0;  
  background-color: #E9EEF9; 
  border-bottom: 2px solid #2E5DD0;
}
.criteria_middle li:first-child{
  background-color: transparent !important;
  color: black !important;
  border: none !important; 

}
.criteria_middle .operation_list ul li:nth-child(2){
  color: #34C759;
  background-color: #E9EEF9;
  border-bottom: 2px solid #34C759;
}
.commercial{
  width: 437px !important;
}

.operation_list ul li{
  padding: 8px 12px 8px 12px  ;
}
.operation_list ul{
  padding: 0;
  display: flex;
  border: 1px solid #E7E7E8;
  border-radius: 4px;
  gap: 8px;
  margin-right: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.operation_list p{
  color: #605C66;
  font-weight: 600;
}
.rules_list{
  align-items: center;
  display: flex;
  margin-bottom: 25px;
}
.rules_list select:first-child{
  background-color: #E2CFEC;
  padding: 6px 12px 6px 12px;
  border: 1px solid #D7A8EE;
  color: #9C2DD3;
  margin-right: 10px;
}
 .selectgroup{
  background-color: #DEF2E3 !important;
  padding: 6px 12px 6px 12px !important;
  border: 1px solid #99E3AB !important;
  color: #34C759 !important;
  margin-right: 10px;
}

.mult-select-tag {
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  --border-color: rgb(218, 221, 224);
  font-family: Verdana, sans-serif;
}

.mult-select-tag .wrapper {
  width: 100%;
}

.mult-select-tag .body {
  display: flex;
  border: 1px solid var(--border-color);
  background: white;
  min-height: 2.15rem;
  width:100%;
  min-width: 14rem;

}

.mult-select-tag .input-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  padding: 0.1rem;
  align-items: center;
}

.mult-select-tag .input-body {
  display: flex;
  width: 100%;
}

.mult-select-tag .input {
  flex:1;
  background: transparent;
  border-radius: 0.25rem;
  padding: 0.45rem;
  margin: 10px;
  color: #2d3748;
  outline: 0;
  border: 1px solid var(--border-color);
}

.mult-select-tag .btn-container {
  color: #e2eBf0;
  padding: 0.5rem;
  display: flex;
  border-left: 1px solid var(--border-color);
}

.mult-select-tag button {
  cursor: pointer;
  width: 100%;
  color: #718096;
  outline: 0;
  height: 100%;
  border: none;
  padding: 0;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  text-transform: none;
  margin: 0;
}

.mult-select-tag button:first-child {
  width: 1rem;
  height: 90%;
}
.rules_list select:first-child{
  width: 220px !important;
}
.rules_list select:nth-child(2){
  padding: 6px 12px 6px 12px;
  margin-right: 10px;
  border: 1px solid #D9D9D9;
  background-color: #FCFCFC;
}
.rules_list select:nth-child(3){
  padding: 6px 12px 6px 2px;
  margin-right: 10px;
  border: 1px solid #D9D9D9;
  background-color: #FCFCFC;
}
.rules_list select:nth-child(4){
  width: 245px !important;
  padding: 6px 12px 6px 12px;
  margin-right: 10px;
  border: 1px solid #D9D9D9;
  background-color: #FCFCFC;
}


.mult-select-tag .drawer {
  position: absolute;
  background: white;
  max-height: 15rem;
  z-index: 40;
  top: 98%;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
}

.mult-select-tag ul {
  list-style-type: none;
  padding: 0.5rem;
  margin: 0;
}

.mult-select-tag ul li {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.mult-select-tag ul li:hover {
  background: rgb(243 244 246);
}

.mult-select-tag .item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 8px 1px 8px;
  margin: 0.2rem;
  font-weight: 500;
  border: 1px solid;
  border-radius: 4px  ;
  -webkit-border-radius: 4px  ;
  -moz-border-radius: 4px  ;
  -ms-border-radius: 4px  ;
  -o-border-radius: 4px  ;
}

.mult-select-tag .item-label {
  max-width: 100%;
  line-height: 1;
  font-size: 0.75rem;
  font-weight: 400;
  flex: 0 1 auto;
}

.mult-select-tag .item-close-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row-reverse;
}

.mult-select-tag .item-close-svg {
  width: 1rem;
  margin-left: 0.5rem;
  height: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  display: block;
  color: #A4A1A7  ;
}

.hidden {
  display: none;
}

.mult-select-tag .shadow  {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.mult-select-tag .rounded {
  border-radius: .375rem;
}
.dots{
  background-color: #E7E7E8;
  margin-left: 10px;
  padding: 6px 12px 6px 12px;

  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin: 4px;
  border: 2px solid #494450;
}
.comparerselect{
  color: #FF9500 !important;
  border: 1px solid #FFC97F !important ;
  background-color: #FEF3E5 !important;
  border-radius: 4px !important;
  padding: 6px 12px 6px 12px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  -ms-border-radius: 4px !important;
  -o-border-radius: 4px !important;
}
select option{
  font-size: 14px !important;
}
.middle_builder{
  background-color: #C9EAE8  !important;
  color: #00C7BE !important;
  border: 1px solid #7FE3DE !important;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.middle_rules,.middle_rules_buttons{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.middle_rules select{
  width: 380px !important;
  padding: 6px 12px 6px 12px;
  margin-right: 10px;
  border: 1px solid #D9D9D9;
  background-color: #FCFCFC;

}
.trash{
  background-color: #EFCECC;
  color: #FF3B30  ;
}
.middle_rules_buttons button{
  border: none;
  margin-left: 10px;
  color: #8D8A91;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background-color: #F3F2F3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.criteria_middle{
  background-color: #F6F6F6;
  padding: 12px;
}
.criteria_middle{
  margin-bottom: 30px;
}
.criteria_middle:last-child ul li:nth-child(2){
  border: none !important;
  color: black !important;
  background-color: transparent !important
}
.criteria_middle:last-child ul li:last-child{
  color: #FF3B30  ;
  background-color: #EFCECC;
  border-bottom: 2px solid #FF3B30  ;
}
.in_list_overlay{
  position: absolute;
  width: 976px;
  z-index: 100000;
  border-radius: 8px;
  left: 50%;
  transition: 1s;
  top: 10%;
  display: none;
  transform: translateX(-50%);
  height: 677px;
  background-color: #FCFCFC;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.in_list_overlay.hidden{
  display: none;
}
.in_list_overlay.show{
  display: block;
}
.loader_conatiner{

}
.overlay{ 
  background: #00000080; 
  bottom: 0; 
  display: none; 
  left: 0;
   opacity: 1; 
   position: fixed; 
   right: 0; 
   top: 0; 
   transition: .15s ease-in-out; 
   z-index: 180; -webkit-transition: .15s ease-in-out; -moz-transition: .15s ease-in-out; -ms-transition: .15s ease-in-out; -o-transition: .15s ease-in-out;
}
.overlay.hidden{
  display: none;
}
.overlay.show{
  display: block;
}
.in_list_container{
  padding: 15px;
}
.in_list_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.in_list_top h3{
  font-size: 20px;
  color: #332D3B;
}
.in_list_top i{
  font-size: 24px;
  border-radius: 4px;
  background-color: #E7E7E8;
  color: #76737C;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px !important;
}
.input-group{
  position: relative;
  width: 440px !important;
}
.input-group input{
  background-color: #F6F6F6;
}
.input-group input::placeholder{
  position: relative;
  left: 8%;
}
.input-group-append{
  position: absolute;
  left: 2%;
  top: 20%;
  background-color: #F6F6F6 !important;

}
.in_list_middle{
  margin-top: 20px;
}
.container_search label{
  font-size: 16px;
  color: #605C66;
  font-weight: 600;
  margin-bottom: 8px;
}
.in_list_middle{
  display: flex;
  justify-content: space-around;
}
.in_list_middle .in_list_left, .in_list_middle .in_list_right{
  border: 1px solid #E7E7E8;
  padding: 14px;
}
.filed_list ul{
  padding: 0;
}
.filed_list p svg{
  margin-right: 5px;
}
.filed_list ul{
  margin-left: 20px;
}
.filed_list ul li{
  font-size: 16px;
  color: #605C66;
  font-weight: 400;
}
.filed_list p{
  font-size: 16px;
  font-weight: 600;
  color:#332D3B ;
}
#submenu,#menu_two {
  display: block;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
#submenu  li{
  margin-bottom: 8px;
}
#menu_two li{
  margin-bottom: 8px;

}
.check_box{
  display: flex;
  align-items: center;
}
.check_box label{
  font-size: 14px;
  color: #494450;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
}
.custom-checkbox{
  border: 2px solid #2E5DD0 !important;
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  margin-top: 5px;
  -moz-border-radius: 6px !important;
  width: 24px;
  height: 24px;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}
#selectedValues{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #E7E7E8;
  padding: 18px;
}
#selectedValues div{
  margin-right: 20px;
  border: 1px solid #979797;
  padding: 8px 8px 8px 12px;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #2C2C2C;
  font-size: 12px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
#selectedValues div button{
  margin-left: 10px;
  background-color: transparent;
  border: none;
}
.in_list_bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.in_list_bottom button{
  border: none;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-weight: 600;

}
.reset{
  background-color: #E9EEF9;
  color: #587DD9;
}
.cancel{
  background-color: transparent;
  color: #605C66;
}
.add{
  background-color: #2E5DD0;
  color: #E9EEF9;
}
.in_list.hidden{
  display: none;
}
.header_list li:first-child a{
  color: #8D8A91;
}
.langchange{
  margin: 10px;
  border-radius: 8px;
  padding: 5px;
  outline: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.loader_conatiner{
  position: absolute;
  left: 50%;
  top: 35%;
  background-color: white;
  z-index: 1000000000;
  display: none;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.overlay_loading{
  background: white; 
  bottom: 0; 
  display: none; 
  left: 0;
   opacity: 1; 
   position: fixed; 
   right: 0; 
   top: 0; 
   transition: .15s ease-in-out; 
   z-index: 180; -webkit-transition: .15s ease-in-out; -moz-transition: .15s ease-in-out; -ms-transition: .15s ease-in-out; -o-transition: .15s ease-in-out;
}
.overlay_loading.show{
  display: block;
}
.loader_conatiner.show{
  display: block;
}

.loader {
  font-size: 2em;
  font-weight: 900;
}
.loader > * {
  color: black;
}
.loader span {
  display: inline-flex;
}
.loader span:nth-child(2) {
  letter-spacing: -1em;
  overflow: hidden;
  animation: reveal 1500ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    alternate;
}
@keyframes reveal {
  0%,
  100% {
    opacity: 0.5;
    letter-spacing: -1em;
  }
  50% {
    opacity: 1;
    letter-spacing: 0em;
  }
}
@media (max-width:480px){
  .main_content{
    flex-wrap: wrap;
  }
  .criteria .nav{
    display: none;
  }
  .main_actions,.new_actions{
    width: 100% !important;
  }
  .main_bottom_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
  }
  .main_bottom{
    top: 0;
  }
  .main_top, .main_search{
    flex-wrap: wrap;
    align-content: center;
    margin-bottom: 20px;
  }
  .main_search input{
    width: 100% !important;
  }
  .header_list li{
    font-size: 12px;
  }
  .header{
    padding: 0;
    padding-top: 20px;
  }
  .header .header_content{
    align-items: center;
  }
  .langchange{
    font-size: 12px;
  }
  .loader{
    font-size: 1.6em;
  }
}

/* @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
 
  @media (min-width: 1200px) {
    .container {
      width: 1350px;
    }
  } */